## 数据处理示实例

In [102]:
import pandas as pd
import numpy as np
tsdata = pd.read_csv("titanic_train.csv")  # 载入数据 泰坦尼克船员获获救预测数据集
tsdata.head()
# 数据即中的内容主要包括
#passengerid:乘客id survived:是否幸存 pclass:舱位级别 name:名字 
#sex:性别 age:年龄 sibsp:同亲数量 parch:父母数量 ticket:船票编码 
#fare:船票价格 cabin:船舱位区 embarked:登船地点

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 数据查看

In [47]:
age = tsdata["Age"]  # 前10记录中的年龄的大小 发现存在缺失值
print(age.loc[0:10])

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64

### 缺失值处理

In [86]:
age_is_null = pd.isnull(age)  # 布尔判断 缺失值标记为true
# age_is_rec = pd.istrue(age) # 没有istrue 判断
print(age_is_null)
age_null_true_data = age[age_is_null]  # 使用返回的布尔判断作为索引,索引出缺失值的记录
print(age_null_true_data)
age_null_true_data_count = len(age_null_true_data)
print(age_null_true_data_count)  # 统计空记录值的记录条数

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28      True
29      True
       ...
861    False
862    False
863     True
864    False
865    False
866    False
867    False
868     True
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878     True
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool
5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
29    NaN
31    NaN
32    NaN
36    NaN
42    NaN
45    NaN
46    NaN
47    NaN
48    NaN
55    NaN
64    NaN
65    NaN
76    NaN
77    NaN
82    NaN
87    NaN
95    NaN
101   NaN
107   NaN
109   NaN
121   NaN
126   NaN
128   NaN
140   NaN
154   NaN
       ..
718   NaN
727   NaN
732   NaN
738   NaN
739   NaN
740   NaN
760   NaN
766   NaN
768   NaN
773   NaN
776   NaN
778   NaN
783   NaN
790   NaN
792   NaN
793   NaN
815   NaN
825   NaN
826   NaN
828   NaN
832   NaN
837   NaN
839   NaN
846   NaN
849   NaN
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64
177

### 数据统计 (不处理缺失值的情况下)

In [64]:
# 统计平均年龄
mean_age = sum(tsdata["Age"]) / len(tsdata["Age"]) # 不处理缺失值统计均年龄
print(mean_age)  # nan 无

nan

### 数据统计 处理缺失值
#### 可以通过 众数, 均值, 中位数 等统计数值对缺失值进行填充

In [ ]:
# 处理缺失值
#print(age_is_null)
good_ages = tsdata["Age"][age_is_null == False]  # 匹配出无缺失值的年龄
#print(good_ages)
correct_mean_age = sum(good_ages) / len(good_ages)  # 无缺失值的均年龄统计
print("使用公式计算均值",correct_mean_age)

correct_mean_age_2 = tsdata["Age"].mean()
print("方法2函数直接计算均值",correct_mean_age_2)

使用 ,dropna .fillna 剔除 填充null值

In [120]:
print("原数据",tsdata.head())
drop_na_columns = tsdata.dropna(axis=1) # 参数 axis:1 行记录的null剔除
print("剔除null了", drop_na_columns)

drop_na_row = tsdata.dropna(axis=0, subset=["Age", "Sex"])  # axis:0 指定属性列
print(drop_na_row)

# 使用fillna 填充null
# fill_na_cols = tsdata.fillna()

原数据    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
剔除null了      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex  SibSp  Parch  \
0                              Braund, Mr. Owen Harris    male      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female      1      0
2                               Heikkinen, Miss. Laina  female      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female      1      0
4                             Allen, Mr. William Henry    male      0      0
5                                     Moran, Mr. James    male      0      0
6                              McCarthy, Mr. Timothy J    male      0      0
7                       Palsson, Master. Gosta Leonard    male      3      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female      0      2
9                  Nasser, Mrs. Nicholas (Adele Achem)  female      1      0
10                     Sandstrom, Miss. Marguerite Rut  female      1      1
11                            Bonnell, Miss. Elizabeth  female      0      0
12                      Saundercock, Mr. William Henry    male      0      0
13                         Andersson, Mr. Anders Johan    male      1      5
14                Vestrom, Miss. Hulda Amanda Adolfina  female      0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female      0      0
16                                Rice, Master. Eugene    male      4      1
17                        Williams, Mr. Charles Eugene    male      0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female      1      0
19                             Masselmani, Mrs. Fatima  female      0      0
20                                Fynney, Mr. Joseph J    male      0      0
21                               Beesley, Mr. Lawrence    male      0      0
22                         McGowan, Miss. Anna "Annie"  female      0      0
23                        Sloper, Mr. William Thompson    male      0      0
24                       Palsson, Miss. Torborg Danira  female      3      1
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female      1      5
26                             Emir, Mr. Farred Chehab    male      0      0
27                      Fortune, Mr. Charles Alexander    male      3      2
28                       O'Dwyer, Miss. Ellen "Nellie"  female      0      0
29                                 Todoroff, Mr. Lalio    male      0      0
..                                                 ...     ...    ...    ...
861                        Giles, Mr. Frederick Edward    male      1      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female      0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female      8      2
864                             Gill, Mr. John William    male      0      0
865                           Bystrom, Mrs. (Karolina)  female      0      0
866                       Duran y More, Miss. Asuncion  female      1      0
867               Roebling, Mr. Washington Augustus II    male      0      0
868                        van Melkebeke, Mr. Philemon    male      0      0
869                    Johnson, Master. Harold Theodor    male      1      1
870                                  Balkic, Mr. Cerin    male      0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female      1      1
872                           Carlsson, Mr. Frans Olof    male      0      0
873                        Vander Cruyssen, Mr. Victor    male      0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female      1      0
875                   Najib, Miss. Adele Kiamie "Jane"  female      0      0
876                      Gustafsson, Mr. Alfred Ossian    male      0      0
877                               Petroff, Mr. Nedelio    male      0      0
878                                 Laleff, Mr. Kristo    male      0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female      0      1
880       Shelley, Mrs. William (Imanita Parrish Hall)  female      0      1
881                                 Markun, Mr. Johann    male      0      0
882                       Dahlberg, Miss. Gerda Ulrika  female      0      0
883                      Banfield, Mr. Frederick James    male      0      0
884                             Sutehall, Mr. Henry Jr    male      0      0
885               Rice, Mrs. William (Margaret Norton)  female      0      5
886                              Montvila, Rev. Juozas    male      0      0
887                       Graham, Miss. Margaret Edith  female      0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female      1      2
889                              Behr, Mr. Karl Howell    male      0      0
890                                Dooley, Mr. Patrick    male      0      0

               Ticket      Fare
0           A/5 21171    7.2500
1            PC 17599   71.2833
2    STON/O2. 3101282    7.9250
3              113803   53.1000
4              373450    8.0500
5              330877    8.4583
6               17463   51.8625
7              349909   21.0750
8              347742   11.1333
9              237736   30.0708
10            PP 9549   16.7000
11             113783   26.5500
12          A/5. 2151    8.0500
13             347082   31.2750
14             350406    7.8542
15             248706   16.0000
16             382652   29.1250
17             244373   13.0000
18             345763   18.0000
19               2649    7.2250
20             239865   26.0000
21             248698   13.0000
22             330923    8.0292
23             113788   35.5000
24             349909   21.0750
25             347077   31.3875
26               2631    7.2250
27              19950  263.0000
28             330959    7.8792
29             349216    7.8958
..                ...       ...
861             28134   11.5000
862             17466   25.9292
863          CA. 2343   69.5500
864            233866   13.0000
865            236852   13.0000
866     SC/PARIS 2149   13.8583
867          PC 17590   50.4958
868            345777    9.5000
869            347742   11.1333
870            349248    7.8958
871             11751   52.5542
872               695    5.0000
873            345765    9.0000
874         P/PP 3381   24.0000
875              2667    7.2250
876              7534    9.8458
877            349212    7.8958
878            349217    7.8958
879             11767   83.1583
880            230433   26.0000
881            349257    7.8958
882              7552   10.5167
883  C.A./SOTON 34068   10.5000
884   SOTON/OQ 392076    7.0500
885            382652   29.1250
886            211536   13.0000
887            112053   30.0000
888        W./C. 6607   23.4500
889            111369   30.0000
890            370376    7.7500

[891 rows x 9 columns]
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
18            19         0       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
27            28         0       1
30            31         0       1
33            34         0       2
34            35         0       1
35            36         0       1
37            38         0       3
38            39         0       3
..           ...       ...     ...
856          857         1       1
857          858         1       1
858          859         1       3
860          861         0       3
861          862         0       2
862          863         1       1
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
27                      Fortune, Mr. Charles Alexander    male  19.0      3
30                            Uruchurtu, Don. Manuel E    male  40.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
34                             Meyer, Mr. Edgar Joseph    male  28.0      1
35                      Holverson, Mr. Alexander Oskar    male  42.0      1
37                            Cann, Mr. Ernest Charles    male  21.0      0
38                  Vander Planke, Miss. Augusta Maria  female  18.0      2
..                                                 ...     ...   ...    ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
857                             Daly, Mr. Peter Denis     male  51.0      0
858              Baclini, Mrs. Solomon (Latifa Qurban)  female  24.0      0
860                            Hansen, Mr. Claus Peter    male  41.0      2
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
18       0            345763   18.0000          NaN        S
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
27       2             19950  263.0000  C23 C25 C27        S
30       0          PC 17601   27.7208          NaN        C
33       0        C.A. 24579   10.5000          NaN        S
34       0          PC 17604   82.1708          NaN        C
35       0            113789   52.0000          NaN        S
37       0        A./5. 2152    8.0500          NaN        S
38       0            345764   18.0000          NaN        S
..     ...               ...       ...          ...      ...
856      1             36928  164.8667          NaN        S
857      0            113055   26.5500          E17        S
858      3              2666   19.2583          NaN        C
860      0            350026   14.1083          NaN        S
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
879      1             11767   83.1583          C50        C

### 手动计算每个等级的仓位的均价

In [99]:
# 每个等级的仓位的均价
passenger_class = [1,2,3]  # 构建等级索引列表,用于不同等级的记录的匹配
fares_by_class = {}  # 存储结果的字典
print(type(fares_by_class))
for this_class in passenger_class: # 对每个等级的记录进行遍历求均价
    pclass_rows = tsdata[tsdata["Pclass"] == this_class]  # 筛选出该等级的记录
    pclass_fares = pclass_rows["Fare"] #提取该等级的仓位价格
    fare_for_class = pclass_fares.mean()  # 计算该等级的仓位价格均值
    fares_by_class[this_class] = fare_for_class # 计算的均值存放在结果的列表中
    print(fare_for_class)
print(fares_by_class)

<class 'dict'>
84.15468749999992
20.66218315217391
13.675550101832997
{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

.pivot_table 计算数据透视表
.pivot(max, 统计变量, 统计方式)
.pivot(index=索引属性, 统计变量, 统计方式)

In [108]:
# 使用 v.pivot_table 统计不同等级的仓位的幸存的概率
passenger_survival_proba = tsdata.pivot_table(index="Pclass", values= "Survived", aggfunc=np.mean)
# 参数: 
print(passenger_survival_proba)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [109]:
# 使用 v.pivot_table 统计不同等级的仓位平均年龄 默认的统计aggfunc 是求均值
passenger_class_age_mean = tsdata.pivot_table(index="Pclass", values="Age")
print(passenger_class_age_mean)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

### 使用pivot_table 进行多个变量属性的数据统计

In [110]:
# 统计登船港口的状态
port_stats = tsdata.pivot_table(index="Pclass", values=["Fare", "Survived"], aggfunc=np.sum)
print("港口状态", port_stats)

港口状态               Fare  Survived
Pclass
1       18177.4125       136
2        3801.8417        87
3        6714.6951       119

### 对矩阵中的数据进行排序

In [127]:
new_ts_survival = tsdata.sort_values("Age", ascending=False) # age降序排序
print(new_ts_survival[0:10])  
new_ts_index =new_ts_survival.reset_index(drop=True)  # 对age排序后的矩阵,再次进行索引排序, drop:True 重新排序
print(new_ts_index[0:10])

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick
672          673         0       2           Mitchell, Mr. Henry Michael
745          746         0       1          Crosby, Capt. Edward Gifford
33            34         0       2                 Wheadon, Mr. Edward H
54            55         0       1        Ostby, Mr. Engelhart Cornelius
280          281         0       3                      Duane, Mr. Frank

      Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630  male  80.0      0      0       27042  30.0000   A23        S
851  male  74.0      0      0      347060   7.7750   NaN        S
493  male  71.0      0      0    PC 17609  49.5042   NaN        C
96   male  71.0      0      0    PC 17754  34.6542    A5        C
116  male  70.5      0      0      370369   7.7500   NaN        Q
672  male  70.0      0      0  C.A. 24580  10.5000   NaN        S
745  male  70.0      1      1   WE/P 5735  71.0000   B22        S
33   male  66.0      0      0  C.A. 24579  10.5000   NaN        S
54   male  65.0      0      1      113509  61.9792   B30        C
280  male  65.0      0      0      336439   7.7500   NaN        Q
   PassengerId  Survived  Pclass                                  Name   Sex  \
0          631         1       1  Barkworth, Mr. Algernon Henry Wilson  male
1          852         0       3                   Svensson, Mr. Johan  male
2          494         0       1               Artagaveytia, Mr. Ramon  male
3           97         0       1             Goldschmidt, Mr. George B  male
4          117         0       3                  Connors, Mr. Patrick  male
5          673         0       2           Mitchell, Mr. Henry Michael  male
6          746         0       1          Crosby, Capt. Edward Gifford  male
7           34         0       2                 Wheadon, Mr. Edward H  male
8           55         0       1        Ostby, Mr. Engelhart Cornelius  male
9          281         0       3                      Duane, Mr. Frank  male

    Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0  80.0      0      0       27042  30.0000   A23        S
1  74.0      0      0      347060   7.7750   NaN        S
2  71.0      0      0    PC 17609  49.5042   NaN        C
3  71.0      0      0    PC 17754  34.6542    A5        C
4  70.5      0      0      370369   7.7500   NaN        Q
5  70.0      0      0  C.A. 24580  10.5000   NaN        S
6  70.0      1      1   WE/P 5735  71.0000   B22        S
7  66.0      0      0  C.A. 24579  10.5000   NaN        S
8  65.0      0      1      113509  61.9792   B30        C
9  65.0      0      0      336439   7.7500   NaN        Q

### 自定义函数进行数据整合统计 将不同的统计函数进行组合
### 执行自定义的函数使用 .apply(自定义函数名)

In [128]:
def hundreth_row(column):  # 第一百行数据
    hundreth_item = column.loc[99] # 取99行数据
    return hundreth_item

hundreth_row = tsdata.apply(hundreth_row)  # 更新获取的行数据
print(hundreth_row)

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object

### 统计属性null行数

In [132]:
def not_null_count(column):
    column_null = pd.isnull(column)
    null = column[column_null]
    return len(null)
column_null_count = tsdata.apply(not_null_count)
print(column_null_count)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [136]:
null = pd.isnull(tsdata["Age"])
print(null)

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28      True
29      True
       ...
861    False
862    False
863     True
864    False
865    False
866    False
867    False
868     True
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878     True
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

TypeError: ("'Series' object is not callable", 'occurred at index PassengerId')

对数据处理结果进行矩阵内的属性的显示

In [141]:
# 对年龄进行判断 划归区间
def generate_age_lable(row):  # row 实际上代表矩阵
    age = row["Age"]
    if pd.isnull(age):
        return "unknow"
    elif age < 18:
        return "minor"
    else:return "adult"
age_lables = tsdata.apply(generate_age_lable, axis=1)
print(age_lables)

0       adult
1       adult
2       adult
3       adult
4       adult
5      unknow
6       adult
7       minor
8       adult
9       minor
10      minor
11      adult
12      adult
13      adult
14      minor
15      adult
16      minor
17     unknow
18      adult
19     unknow
20      adult
21      adult
22      minor
23      adult
24      minor
25      adult
26     unknow
27      adult
28     unknow
29     unknow
        ...
861     adult
862     adult
863    unknow
864     adult
865     adult
866     adult
867     adult
868    unknow
869     minor
870     adult
871     adult
872     adult
873     adult
874     adult
875     minor
876     adult
877     adult
878    unknow
879     adult
880     adult
881     adult
882     adult
883     adult
884     adult
885     adult
886     adult
887     adult
888    unknow
889     adult
890     adult
Length: 891, dtype: object

### 对年龄的标签分类进行幸存率的统计

In [142]:
tsdata["age_lables"] = age_lables # 将新分类的年龄的标签加入到矩阵的记录属性中
age_group_survived = tsdata.pivot_table(index="age_lables", values="Survived", aggfunc=np.mean)
print(age_group_survived)

            Survived
age_lables
adult       0.381032
minor       0.539823
unknow      0.293785